@import "config";

body {
  background: $dark-navy-900;
  font-family: $font-openSans;
  color: $main-text-color;
  main {
    section {
      padding: 2.5rem 2rem;
    }
    .hero {
      background-color: $dark-navy-900;
      .text-zone {
        h1 {
          text-wrap: nowrap;
          font-size: 3rem;
          line-height: 110%;
          span {
            color: $highlight-color;
          }
        }
        h3 {
          color: $highlight-color;
          font-weight: normal;
          letter-spacing: 1px;
        }
        p {
          color: $secondary-text-color;
          font-size: 0.9rem;
          margin: 1rem 0;
          font-weight: 600;
        }
      }
      .hero-Buttons-zone {
        margin-top: 2rem;
        a {
          padding: 0.5rem 1rem;
          color: $main-text-color;
          border-radius: 5px;
          font-weight: 600;
        }
        .download-btn {
          position: relative;
          background-color: $light-blue-200;
          outline: none;
          border: none;
          z-index: 1;
        }
        .download-btn::before {
          transition: 0.3s;
          position: absolute;
          content: "";
          width: 0;
          height: 100%;
          left: 0;
          top: 0;
          background: $dark-navy-900;
          z-index: -1;
          border-radius: 5px;
        }
        .download-btn:hover::before {
          width: 100%;
          border: 1px solid #fff;
        }
        .contact-btn {
          position: relative;
          background-color: $dark-navy-900;
          border: 1px solid #fff;
          margin-left: 1rem;
          z-index: 1;
        }
        .contact-btn::before {
          transition: 0.3s;
          position: absolute;
          content: "";
          width: 0;
          height: 100%;
          right: 0;
          top: 0;
          background: $light-blue-400;
          z-index: -1;
          border-radius: 5px;
        }
        .contact-btn:hover::before {
          width: 100%;
        }
      }
    }
    // ///////////////////////////////////////////////////////////////////////////////////////////////////

    .about {
      background: $dark-navy-900;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .avatar-container {
        margin: 1rem 0 2rem;
        position: relative;
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 50%;
        border: $avatar-border solid #fff;
        background-color: $dark-navy-900;
        animation: light;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        display: flex;
        align-items: end;
        filter: drop-shadow(0 0 20px $light-blue-400);
        .avatar {
          width: 100%;
          height: $noggin-height;
          object-fit: cover;
          mask-image: $mask-image;
          mask-repeat: $mask-repeat;
          mask-position: $mask-position;
          mask-mode: alpha;
        }
      }
      .text-zone {
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        p {
          color: $secondary-text-color;
          line-height: 180%;
          height: 200px;
          overflow-y: auto;
          scrollbar-width: none;
          // margin: 0.5rem 0 0;
          padding: 0.5rem 0;
          font-weight: 600;
          border-radius: 8px;
          background: linear-gradient(
            270deg,
            #3690f0,
            #5884d6,
            #498ad4,
            #778da9,
            #cadcf3
          );
          background-size: 600% 600%;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          animation: backgroundMove 10s ease infinite;
          span {
            color: $light-blue-400;
            font-weight: 900;
            text-decoration: underline;
          }
        }
      }
    }

    @keyframes backgroundMove {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 5%;
        color: $light-blue-400;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    @keyframes light {
      0% {
        filter: drop-shadow(0 0 4px $light-blue-400);
      }
      25% {
        filter: drop-shadow(0 0 6px $light-blue-400);
      }
      50% {
        filter: drop-shadow(0 0 8px $light-blue-400);
      }
      75% {
        filter: drop-shadow(0 0 12px $light-blue-400);
      }
      100% {
        filter: drop-shadow(0 0 14px $light-blue-400);
      }
    }
    // ///////////////////////////////////////////////////////////////////////////////////////////////////
    .projects {
      background-color: $dark-navy-700;
      border-radius: 10px;
      .cards-container {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        .card {
          overflow: hidden;
          padding: 1rem;
          border-radius: 8px;
          max-width: 300px;
          min-width: 280px;
          display: flex;
          flex-direction: column;
          background: $dark-navy-500;
          box-shadow: 1px 1px 11px -3px $dark-navy-900;
          figure {
            height: 150px;
            overflow: hidden;
            border-radius: 8px;
            img {
              width: 100%;
              height: 100%;
              border-radius: 8px;
            }
          }

          .card-text-zone {
            margin: 1.5rem 0;
            h4 {
              font-size: 1.2rem;
              margin-bottom: 1.5rem;
            }
            p {
              color: $secondary-text-color;
              word-spacing: 1px;
              line-height: 20px;
              height: 80px;
            }
          }
          .project-skills {
            display: flex;
            gap: 0.5rem;
            border-top: 1px solid #ffffff60;
            padding: 1rem 0 0;
            .skill {
              border-radius: 5px;
              background: $dark-navy-700;
              padding: 0.5rem 1rem;
            }
          }
          .card-buttons {
            margin: 1.5rem 0;
            a {
              cursor: pointer;
              color: $main-text-color;
              padding: 0.5rem 1rem;
              border-radius: 5px;
              font-weight: bold;
              z-index: 1;
            }
            .demo {
              position: relative;
              background: $light-blue-400;
              // transition: 0.5s;
              // border: 1px solid $light-blue-400;
            }
            .demo::before {
              transition: 0.3s;
              position: absolute;
              content: "";
              top: 0;
              left: 0;
              width: 0;
              height: 100%;
              background: $dark-navy-900;
              z-index: -1;
              border: none;
              border-radius: 5px;
            }
            .demo:hover::before {
              border: 1px solid $main-text-color;
              width: 100%;
            }
            .view {
              position: relative;
              border: 1px solid $main-text-color;
              background: $dark-navy-900;
            }
            .view::before {
              transition: 0.3s;
              position: absolute;
              content: "";
              top: 0;
              right: 0;
              width: 0;
              height: 100%;
              background: $light-blue-400;
              z-index: -1;
              border: none;
              border-radius: 5px;
            }
            .view:hover::before {
              border: 1px solid $light-blue-400;
              width: 100%;
            }
          }
        }
      }
    }
    .skills {
      background-color: $dark-navy-700;
      .skills-container {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1.5rem;
        .skill {
          background: $dark-navy-500;
          border-radius: 8px;
          padding: 0.5rem;
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 0.8rem;
          transition: 0.5s;
          img {
            transition: 0.8s;
            width: 50px;
          }
          p {
            transition: 0.8s;
            letter-spacing: 1.5px;
            font-weight: bold;
            font-size: clamp(0.8rem, 8vw - 1rem, 1.2rem);
          }
        }
        .skill:hover {
          box-shadow: 0 0 1.2rem 0 $light-blue-400;
        }
        .skill:hover img {
          transform: rotateY(180deg);
        }
        .skill:hover p {
          transform: translate(20px) scale(1.2);
        }
      }
    }
    .contact {
      background: $dark-navy-700;
      p {
        margin-top: 0.5rem;
        color: $secondary-text-color;
        line-height: 120%;
      }
      .links-container {
        margin-top: 1rem;
        .link {
          margin-bottom: 1rem;
          i {
            color: $main-text-color;
            transition: all 0.5s;
          }
          a {
            color: $light-blue-400;
            font-size: clamp(0.8rem, 8vw - 1rem, 1rem);

            padding-bottom: 0.5rem;
            transition: all 0.5s;
          }
          a:hover {
            color: $main-text-color;
            filter: drop-shadow(0 0 10px $main-text-color);
          }
        }
        .link:has(a:hover) i {
          transform: scale(1.5);
          margin-right: 1.5rem;
          color: $light-blue-400;
          filter: drop-shadow(0 0 10px $light-blue-400);
        }
      }
    }
    footer {
      background: $dark-navy-900;
      padding: 1rem;
      p {
        span {
          color: $light-blue-400;
        }
      }
    }
  }
}

@include tablet {
  body {
    background-color: $dark-navy-700;
    main {
      max-width: 650px;
      margin: 0 auto;
      box-shadow: 1px 1px 11px -3px $dark-navy-900;
      .about {
        .text-zone {
          h2 {
            margin-top: 2rem;
          }
          p {
            max-width: 80%;
          }
        }
      }
      .projects {
        .cards-container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@include desktop {
  body {
    main {
      max-width: 950px;
      .about {
        display: grid;
        grid-template-columns: repeat(1fr, auto);
        grid-gap: 1rem;
        grid-auto-flow: column;
        .avatar-container {
          width: 300px;
          height: 300px;
          grid-column: 3;
          border-radius: 0%;
          border: none;
          background-color: transparent;
          overflow: visible;
          border-radius: 50%;

          .avatar {
            width: 100%;
            height: 120%;
            mask: none;
            clip-path: ellipse(62% 50%);
          }
        }
        .text-zone {
          display: flex;
          align-items: start;
          align-content: end;
          grid-column: 1;

          P {
            max-width: 100%;
            max-height: 100%;
            text-align: start;
            overflow: visible;
          }
        }
      }
      .projects {
        .cards-container {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
        }
      }
      .skills {
        .skills-container {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}
